{{ define "recipe/recipe-form-ingiedients.tmpl" }}
    <div
        id="{{ .ID }}-ingredients"
        class="w-full mx-auto my-2 p-4"
    >
        <form
            class="flex flex-row w-full justify-evenly"
            hx-put="/recipe/{{ .ID }}/ingriedients"
            hx-target="outerHTML"
            hx-swap="#{{ .ID }}-ingredients"
        >
            <div
                class="w-1/3 mx-auto my-2 p-4"
            >
                <label
                    class="text-purple-400"
                >
                    Name
                </label>
                <input
                    type="text"
                    name="name"
                    class="p-2 mx-auto my-2 bg-gray-600 text-sky-400"
                    value="San Marzano Tomatoes"
                >
                </input>
            </div>
            <div
                class="w-2/3 mx-auto my-2 p-4"
            >
                <label
                    class="text-purple-400"
                >
                    Description
                </label>
                <input
                    type="text"
                    name="description"
                    class="p-2 mx-auto my-2 bg-gray-600 text-sky-400"
                    value="About 4-5 peeled tomatoes"
                >
                </input>
            </div>
            <button
                type="submit"
                class="grid grid-cols-3 bg-orange-600 text-lg text-slate-200 hover:scale-110
                ease-in-out duration-150 transition-all" 
            >
                <img
                    src="/static/images/add.svg"
                    class="w-16 h-16"
                ></img>
                <span
                    class="w-full"
                >
                    Add Ingredient 
                </span>
            </button>
        </form>
        {{ $recipeLength := len .Ingredients }}{{ if eq $recipeLength 0 }}
            <span>
                No Ingredients saved yet.
            </span>
        {{ else }}
            {{ range .Ingredients }}
            <div class="flex flex-row justify-evenly rounded-lg bg-slate-400">
                <div class="flex flex-1 justify-center w-2/5">
                    <span class="align-middle text text-purple-400">{{ .Name }}</span>
                </div>
                <div class="flex flex-1 justify-center w-3/5">
                    <span class="align-middle text text-cyan-400">{{ .Description }}</span>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
